<?xml version="1.0" encoding="UTF-8"?>
<suite name="OrangeHRM Test Suite">
    <listeners>
        <listener class-name="com.orangehrm.listeners.ExtentReportListener" />
    </listeners>

    <test name="Login Tests">
        <classes>
            <class name="com.orangeHRM.test.LoginPageTest" />
            <class name="com.orangeHRM.test.HomePageTest" />
        </classes>
    </test>
</suite>

